flows_raspberrypi.json
[{"id":"f665d8a9.402d58","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c6fcaf09.2fe2","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f869e24b.52d7b","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"8d7b4777.8c9478","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"c4ec1b2f.5d4fb8","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"eb493a62.843108","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"46c450b6.e8f66","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"fd87fc12.463ee","type":"tab","label":"Flow 8","disabled":false,"info":""},{"id":"76d49d0d.f7bb5c","type":"tab","label":"Flow 9","disabled":false,"info":""},{"id":"98cd8ecf.dc532","type":"ui_group","z":"","name":"Col1","tab":"85f380ce.92f6b","order":1,"disp":false,"width":"6"},{"id":"8717d9b.d30a228","type":"ui_group","z":"","name":"Actions","tab":"85f380ce.92f6b","order":4,"disp":true,"width":"6"},{"id":"35a2bb4b.065dc4","type":"ui_group","z":"","name":"Col2","tab":"85f380ce.92f6b","order":2,"disp":false,"width":"6"},{"id":"d75d3fd5.46728","type":"ui_group","z":"","name":"Col3","tab":"85f380ce.92f6b","order":3,"disp":false,"width":"6"},{"id":"85f380ce.92f6b","type":"ui_tab","z":"","name":"RPi Control","icon":"dashboard","order":1},{"id":"ef0570f2.a9ec7","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6aa7f29d.3bbf2c","type":"ui_group","z":"","name":"TTS - Text to Speech","tab":"28201387.d8743c","order":1,"disp":true,"width":"6","collapse":false},{"id":"28201387.d8743c","type":"ui_tab","z":"","name":"TTS","icon":"dashboard","order":2},{"id":"c32fef7e.dc205","type":"ui_tab","z":"","name":"IFTTT Triggers","icon":"dashboard","disabled":false,"hidden":false},{"id":"f153d8a6.ff2678","type":"ui_group","z":"","name":"Send Notification","tab":"c32fef7e.dc205","disp":true,"width":"6","collapse":false},{"id":"1d990b87.00a3c4","type":"ui_group","z":"","name":"Test Node Red","tab":"c32fef7e.dc205","disp":true,"width":"6","collapse":false},{"id":"f7719219.98599","type":"ui_tab","z":"","name":"Home Control","icon":"dashboard","disabled":false,"hidden":false},{"id":"f653b1ec.d251d","type":"ui_group","z":"","name":"MagicLight WiFi","tab":"f7719219.98599","disp":true,"width":"6","collapse":false},{"id":"941031b9.b67e98","type":"wiotp-credentials","z":"","name":"","org":"HSAK’s Pi Node Red","serverName":"","devType":"HSAK_Pi","devId":"HSAKPI","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"be3edbc0.cbb9c","type":"ui_tab","z":"","name":"RL","icon":"dashboard","disabled":false,"hidden":false},{"id":"b9eb4c9f.20cc4","type":"ui_group","z":"","name":"Clock","tab":"be3edbc0.cbb9c","disp":true,"width":"6","collapse":false},{"id":"b3bd6fc2.7435e","type":"ui_gauge","z":"f665d8a9.402d58","name":"","group":"98cd8ecf.dc532","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":690,"y":120,"wires":[]},{"id":"66f154a2.184fec","type":"exec","z":"f665d8a9.402d58","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":330,"y":120,"wires":[["c3b21592.7beff8"],[],[]]},{"id":"6c5c9572.b52cbc","type":"inject","z":"f665d8a9.402d58","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":124.5,"y":128.25,"wires":[["66f154a2.184fec","bee33a0c.d0e8a8","9b558f84.085fd"]]},{"id":"c3b21592.7beff8","type":"function","z":"f665d8a9.402d58","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":120,"wires":[["b3bd6fc2.7435e","e4674250.d0c19"]]},{"id":"471ac9d2.a12318","type":"ui_button","z":"f665d8a9.402d58","name":"","group":"8717d9b.d30a228","order":2,"width":0,"height":0,"label":"Reboot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":500,"wires":[["2c2e4951.e18056"]]},{"id":"2c2e4951.e18056","type":"exec","z":"f665d8a9.402d58","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":318,"y":500,"wires":[[],[],[]]},{"id":"90fe71f8.048b5","type":"ui_button","z":"f665d8a9.402d58","name":"","group":"8717d9b.d30a228","order":3,"width":0,"height":0,"label":"Shutdown","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":108.5,"y":544.25,"wires":[["5cc3c1c0.ca8a9"]]},{"id":"5cc3c1c0.ca8a9","type":"exec","z":"f665d8a9.402d58","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":329.5,"y":562.25,"wires":[[],[],[]]},{"id":"e4674250.d0c19","type":"ui_chart","z":"f665d8a9.402d58","name":"","group":"98cd8ecf.dc532","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"outputs":2,"x":690,"y":160,"wires":[[],[]]},{"id":"bee33a0c.d0e8a8","type":"exec","z":"f665d8a9.402d58","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":330,"y":200,"wires":[["933d356d.83e6f8"],[],[]]},{"id":"9b558f84.085fd","type":"exec","z":"f665d8a9.402d58","command":"free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"Free Memory","x":330,"y":280,"wires":[["b3e4af77.643e6"],[],[]]},{"id":"933d356d.83e6f8","type":"ui_gauge","z":"f665d8a9.402d58","name":"","group":"98cd8ecf.dc532","order":1,"width":0,"height":0,"gtype":"gage","title":"Processor","label":"CPU","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":690,"y":200,"wires":[]},{"id":"b3e4af77.643e6","type":"ui_gauge","z":"f665d8a9.402d58","name":"","group":"35a2bb4b.065dc4","order":1,"width":0,"height":0,"gtype":"gage","title":"Memory","label":"RAM","format":"{{value.toFixed(1)}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":690,"y":280,"wires":[]},{"id":"77910aaf.1970d4","type":"exec","z":"f665d8a9.402d58","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":330,"y":360,"wires":[["7ad8fbe7.a2a254"],[],[]]},{"id":"fec70875.66d808","type":"ui_gauge","z":"f665d8a9.402d58","name":"","group":"d75d3fd5.46728","order":1,"width":0,"height":0,"gtype":"gage","title":"Disk","label":"Usage","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":690,"y":360,"wires":[]},{"id":"7ad8fbe7.a2a254","type":"function","z":"f665d8a9.402d58","name":"","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":360,"wires":[["fec70875.66d808"]]},{"id":"88ee3c1a.5a2cf","type":"inject","z":"f665d8a9.402d58","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":130,"y":360,"wires":[["77910aaf.1970d4"]]},{"id":"351a1912.63fad6","type":"comment","z":"c6fcaf09.2fe2","name":"TTS - Text to Speech Example","info":"","x":200,"y":80,"wires":[]},{"id":"98bd991.4ab9768","type":"ui_audio","z":"c6fcaf09.2fe2","name":"","group":"6aa7f29d.3bbf2c","voice":"en-US","always":"","x":560,"y":160,"wires":[]},{"id":"c2593ffd.cf692","type":"ui_text_input","z":"c6fcaf09.2fe2","name":"","label":"","group":"6aa7f29d.3bbf2c","order":9,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":380,"y":200,"wires":[["98bd991.4ab9768","bbb84175.244d9","c535e624.622a78"]]},{"id":"a2394ad4.355978","type":"inject","z":"c6fcaf09.2fe2","name":"","topic":"Hello","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":200,"wires":[["c2593ffd.cf692"]]},{"id":"a3f10987.7ea858","type":"ui_text","z":"c6fcaf09.2fe2","group":"6aa7f29d.3bbf2c","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":730,"y":200,"wires":[]},{"id":"bbb84175.244d9","type":"delay","z":"c6fcaf09.2fe2","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":310,"y":260,"wires":[["6c9e7cea.41d1a4"]]},{"id":"6c9e7cea.41d1a4","type":"function","z":"c6fcaf09.2fe2","name":"Check Text","func":"text=msg.payload;\nif(text !== \"\"){\n    msg.payload = \"\";\n    return msg;\n}","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["c2593ffd.cf692"]]},{"id":"c535e624.622a78","type":"function","z":"c6fcaf09.2fe2","name":"Check Text","func":"text=msg.payload;\nif(text !== \"\"){\n    msg.payload = text;\n    return msg;\n}","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["a3f10987.7ea858"]]},{"id":"ebb53084.52482","type":"ui_button","z":"c6fcaf09.2fe2","name":"","group":"6aa7f29d.3bbf2c","order":3,"width":"6","height":"1","passthru":true,"label":"Hello.","color":"","bgcolor":"","icon":"","payload":"Hello.","payloadType":"str","topic":"","x":350,"y":320,"wires":[["d7529ff3.cd69b"]]},{"id":"d7529ff3.cd69b","type":"link out","z":"c6fcaf09.2fe2","name":"text out","links":["2bae0e2f.67d022"],"x":515,"y":320,"wires":[]},{"id":"2bae0e2f.67d022","type":"link in","z":"c6fcaf09.2fe2","name":"","links":["d7529ff3.cd69b","3c8c6688.b2c4da","b531b497.0e1b28","41fa607c.374ec","bd98a4e7.72c2d8","18447188.f3f81e"],"x":215,"y":160,"wires":[["c2593ffd.cf692"]]},{"id":"64a86531.446ccc","type":"inject","z":"c6fcaf09.2fe2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":320,"wires":[["ebb53084.52482"]]},{"id":"1bd394aa.8fdcbb","type":"ui_button","z":"c6fcaf09.2fe2","name":"","group":"6aa7f29d.3bbf2c","order":4,"width":"6","height":"1","passthru":true,"label":"Good bye.","color":"","bgcolor":"","icon":"","payload":"Good bye.","payloadType":"str","topic":"","x":370,"y":360,"wires":[["3c8c6688.b2c4da"]]},{"id":"3c8c6688.b2c4da","type":"link out","z":"c6fcaf09.2fe2","name":"text out","links":["2bae0e2f.67d022"],"x":515,"y":360,"wires":[]},{"id":"1ebcbe74.a80332","type":"inject","z":"c6fcaf09.2fe2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":360,"wires":[["1bd394aa.8fdcbb"]]},{"id":"e0ecd385.d748","type":"ui_button","z":"c6fcaf09.2fe2","name":"","group":"6aa7f29d.3bbf2c","order":5,"width":"6","height":"1","passthru":true,"label":"Thank you.","color":"","bgcolor":"","icon":"","payload":"Thank you.","payloadType":"str","topic":"","x":370,"y":400,"wires":[["b531b497.0e1b28"]]},{"id":"b531b497.0e1b28","type":"link out","z":"c6fcaf09.2fe2","name":"text out","links":["2bae0e2f.67d022"],"x":515,"y":400,"wires":[]},{"id":"e9acf378.f9d06","type":"inject","z":"c6fcaf09.2fe2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":400,"wires":[["e0ecd385.d748"]]},{"id":"95ea0993.58d608","type":"ui_button","z":"c6fcaf09.2fe2","name":"","group":"6aa7f29d.3bbf2c","order":6,"width":"6","height":"1","passthru":true,"label":"I don't know.","color":"","bgcolor":"","icon":"","payload":"I don't know.","payloadType":"str","topic":"","x":370,"y":440,"wires":[["41fa607c.374ec"]]},{"id":"41fa607c.374ec","type":"link out","z":"c6fcaf09.2fe2","name":"text out","links":["2bae0e2f.67d022"],"x":515,"y":440,"wires":[]},{"id":"59f0771c.66f958","type":"inject","z":"c6fcaf09.2fe2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":440,"wires":[["95ea0993.58d608"]]},{"id":"97f09920.5d1438","type":"ui_button","z":"c6fcaf09.2fe2","name":"","group":"6aa7f29d.3bbf2c","order":7,"width":"3","height":"1","passthru":true,"label":"Yes.","color":"","bgcolor":"","icon":"","payload":"Yes.","payloadType":"str","topic":"","x":350,"y":480,"wires":[["bd98a4e7.72c2d8"]]},{"id":"bd98a4e7.72c2d8","type":"link out","z":"c6fcaf09.2fe2","name":"text out","links":["2bae0e2f.67d022"],"x":515,"y":480,"wires":[]},{"id":"b6606b38.5a2748","type":"inject","z":"c6fcaf09.2fe2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":480,"wires":[["97f09920.5d1438"]]},{"id":"6a226ac4.4b1f24","type":"ui_button","z":"c6fcaf09.2fe2","name":"","group":"6aa7f29d.3bbf2c","order":8,"width":"3","height":"1","passthru":true,"label":"No.","color":"","bgcolor":"","icon":"","payload":"No.","payloadType":"str","topic":"","x":350,"y":520,"wires":[["18447188.f3f81e"]]},{"id":"18447188.f3f81e","type":"link out","z":"c6fcaf09.2fe2","name":"text out","links":["2bae0e2f.67d022"],"x":515,"y":520,"wires":[]},{"id":"c02e8d64.d12fa","type":"inject","z":"c6fcaf09.2fe2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":520,"wires":[["6a226ac4.4b1f24"]]},{"id":"536d7528.98cdbc","type":"ui_button","z":"f869e24b.52d7b","name":"","group":"1d990b87.00a3c4","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":290,"y":160,"wires":[["82be57c2.c30628"]]},{"id":"82be57c2.c30628","type":"ifttt trigger","z":"f869e24b.52d7b","url":"","name":"","method":"POST","ret":"txt","event":"test_node_red","secretkey":"b71KiJ4LLj4yJb-7JmU3jRZ4rrHQSLAK0oSrX_kev2f","val1":"","val2":"","val3":"","x":500,"y":140,"wires":[[]]},{"id":"34b3f77e.1f63c8","type":"http-proxy","z":"c4ec1b2f.5d4fb8","name":"","url":"https://www.google.com","incomingTimeout":0,"outgoingTimeout":0,"changeOrigin":false,"preserveHeaderKeyCase":false,"verifyCertificates":false,"followRedirects":false,"toProxy":false,"xfwd":false,"x":690,"y":260,"wires":[]},{"id":"c8d91eb6.e1b1c","type":"http in","z":"c4ec1b2f.5d4fb8","name":"","url":"https://smh.com","method":"get","upload":false,"swaggerDoc":"","x":250,"y":220,"wires":[["34b3f77e.1f63c8"]]},{"id":"b7e4e3c0.974a5","type":"ui_text_input","z":"8d7b4777.8c9478","name":"","label":"","tooltip":"","group":"f153d8a6.ff2678","order":9,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":360,"y":260,"wires":[["3a30d34.181792c","e40deb94.e51068"]]},{"id":"2dca7ebc.bbef62","type":"function","z":"8d7b4777.8c9478","name":"Check Text","func":"text=msg.payload;\nif(text !== \"\"){\n    msg.payload = \"\";\n    return msg;\n}","outputs":1,"noerr":0,"x":450,"y":320,"wires":[["b7e4e3c0.974a5"]]},{"id":"3a30d34.181792c","type":"delay","z":"8d7b4777.8c9478","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":320,"wires":[["2dca7ebc.bbef62"]]},{"id":"e40deb94.e51068","type":"function","z":"8d7b4777.8c9478","name":"Check Text","func":"text=msg.payload;\nif(text !== \"\"){\n    msg.payload = text;\n    return msg;\n}","outputs":1,"noerr":0,"x":550,"y":260,"wires":[["f723e821.23d6e8","6629b9c.1f53948"]]},{"id":"f723e821.23d6e8","type":"ui_text","z":"8d7b4777.8c9478","group":"f153d8a6.ff2678","order":2,"width":0,"height":0,"name":"","label":"Notification Text","format":"{{msg.payload}}","layout":"col-center","x":740,"y":260,"wires":[]},{"id":"6629b9c.1f53948","type":"ifttt trigger","z":"8d7b4777.8c9478","url":"","name":"","method":"POST","ret":"txt","event":"send_notification_from_node_red","secretkey":"b71KiJ4LLj4yJb-7JmU3jRZ4rrHQSLAK0oSrX_kev2f","val1":"{{msg.payload}}","val2":"","val3":"","x":780,"y":180,"wires":[[]]},{"id":"2936562e.d8f9da","type":"http in","z":"eb493a62.843108","name":"Reboot","url":"/Reboot_Pi","method":"get","upload":false,"swaggerDoc":"","x":150,"y":220,"wires":[["85b17e65.854bb"]]},{"id":"6bf110a1.85a0c","type":"http in","z":"eb493a62.843108","name":"Shut Down","url":"/Shut_Down_Pi","method":"get","upload":false,"swaggerDoc":"","x":140,"y":260,"wires":[["71885fee.834ba"]]},{"id":"512a1eff.f7ece","type":"exec","z":"eb493a62.843108","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":560,"y":80,"wires":[[],[],[]]},{"id":"3e23dfae.bb005","type":"exec","z":"eb493a62.843108","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":560,"y":420,"wires":[[],[],[]]},{"id":"2155b50.0605f4c","type":"link in","z":"eb493a62.843108","name":"","links":["85b17e65.854bb"],"x":200,"y":80,"wires":[["512a1eff.f7ece"]]},{"id":"85b17e65.854bb","type":"link out","z":"eb493a62.843108","name":"","links":["2155b50.0605f4c","93d35a65.136788"],"x":335,"y":220,"wires":[]},{"id":"71885fee.834ba","type":"link out","z":"eb493a62.843108","name":"","links":["ca17b7.02c78848","ee8d88ac.2cfb78","12e395ee.d4073a","6429732a.d218dc"],"x":335,"y":260,"wires":[]},{"id":"ca17b7.02c78848","type":"link in","z":"eb493a62.843108","name":"","links":["71885fee.834ba","17006b8f.675824"],"x":195,"y":420,"wires":[["3e23dfae.bb005"]]},{"id":"93d35a65.136788","type":"link in","z":"eb493a62.843108","name":"","links":["85b17e65.854bb"],"x":415,"y":240,"wires":[["ec38185f.92d528"]]},{"id":"6429732a.d218dc","type":"link in","z":"eb493a62.843108","name":"","links":["17006b8f.675824","71885fee.834ba"],"x":415,"y":280,"wires":[["8eb32343.6df9"]]},{"id":"ec38185f.92d528","type":"template","z":"eb493a62.843108","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<body>\n<h1>REBOOTING PI</h1>\n</body>\n</html>\n","output":"str","x":560,"y":240,"wires":[["ba106511.fdd158"]]},{"id":"8eb32343.6df9","type":"template","z":"eb493a62.843108","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<body>\n<h1>SHUTTING DOWN PI</h1>\n</body>\n</html>\n","output":"str","x":560,"y":280,"wires":[["ba106511.fdd158"]]},{"id":"bf8ce1db.a28e1","type":"http in","z":"eb493a62.843108","name":"Power Off","url":"/Power_Off_Pi","method":"get","upload":false,"swaggerDoc":"","x":140,"y":300,"wires":[["17006b8f.675824"]]},{"id":"17006b8f.675824","type":"link out","z":"eb493a62.843108","name":"","links":["6429732a.d218dc","ca17b7.02c78848"],"x":335,"y":300,"wires":[]},{"id":"ba106511.fdd158","type":"http response","z":"eb493a62.843108","name":"","statusCode":"","headers":{},"x":750,"y":260,"wires":[]},{"id":"92686ca3.e8173","type":"ui_button","z":"46c450b6.e8f66","name":"","group":"f653b1ec.d251d","order":0,"width":"3","height":"2","passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":220,"wires":[["5e615e39.da619"]]},{"id":"c9ce9170.ed695","type":"ui_button","z":"46c450b6.e8f66","name":"","group":"f653b1ec.d251d","order":1,"width":"3","height":"2","passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":280,"wires":[["287b7428.bab24c"]]},{"id":"8bac22a2.a253b","type":"ifttt trigger","z":"46c450b6.e8f66","url":"","name":"","method":"POST","ret":"txt","event":"turn_bulb_on_node_red","secretkey":"b71KiJ4LLj4yJb-7JmU3jRZ4rrHQSLAK0oSrX_kev2f","val1":"","val2":"","val3":"","x":560,"y":120,"wires":[[]]},{"id":"77a08ccf.8a95b4","type":"ifttt trigger","z":"46c450b6.e8f66","url":"","name":"","method":"POST","ret":"txt","event":"turn_bulb_off_node_red","secretkey":"b71KiJ4LLj4yJb-7JmU3jRZ4rrHQSLAK0oSrX_kev2f","val1":"","val2":"","val3":"","x":560,"y":380,"wires":[[]]},{"id":"5e615e39.da619","type":"link out","z":"46c450b6.e8f66","name":"","links":["22e3b08b.aa0e6","638fec81.19d1e4"],"x":335,"y":220,"wires":[]},{"id":"287b7428.bab24c","type":"link out","z":"46c450b6.e8f66","name":"","links":["8ff207c6.4e2d68","6fbdd3a4.0f5a8c"],"x":335,"y":280,"wires":[]},{"id":"22e3b08b.aa0e6","type":"link in","z":"46c450b6.e8f66","name":"","links":["5e615e39.da619"],"x":335,"y":120,"wires":[["8bac22a2.a253b"]]},{"id":"8ff207c6.4e2d68","type":"link in","z":"46c450b6.e8f66","name":"","links":["287b7428.bab24c"],"x":335,"y":380,"wires":[["77a08ccf.8a95b4"]]},{"id":"c078c61a.ae9ef8","type":"comment","z":"46c450b6.e8f66","name":"Turn On The Bulb","info":"","x":130,"y":120,"wires":[]},{"id":"2705a57e.27caca","type":"comment","z":"46c450b6.e8f66","name":"Turn Off The Bulb","info":"","x":130,"y":380,"wires":[]},{"id":"638fec81.19d1e4","type":"link in","z":"46c450b6.e8f66","name":"","links":["5e615e39.da619"],"x":395,"y":220,"wires":[["6c26ee8f.34ae4"]]},{"id":"6fbdd3a4.0f5a8c","type":"link in","z":"46c450b6.e8f66","name":"","links":["287b7428.bab24c"],"x":395,"y":280,"wires":[["47afb355.16166c"]]},{"id":"6c26ee8f.34ae4","type":"ui_toast","z":"46c450b6.e8f66","position":"dialog","displayTime":"5","highlight":"","outputs":1,"ok":"OK","cancel":"Cancel","topic":"Turned bulbed on!!!","name":"","x":530,"y":220,"wires":[[]]},{"id":"47afb355.16166c","type":"ui_toast","z":"46c450b6.e8f66","position":"dialog","displayTime":"5","highlight":"","outputs":1,"ok":"OK","cancel":"Cancel","topic":"Turned bulbed off!!!","name":"","x":530,"y":280,"wires":[[]]},{"id":"446f7e46.5d03a8","type":"inject","z":"fd87fc12.463ee","name":"tick 15","topic":"tempC","payload":"","payloadType":"str","repeat":"15","crontab":"","once":false,"x":55,"y":80,"wires":[["509c16d0.5aa21"]]},{"id":"509c16d0.5aa21","type":"exec","z":"fd87fc12.463ee","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"read cpu temperature","x":260,"y":300,"wires":[["5b7d3ed.80eea4"],[],[]]},{"id":"5b7d3ed.80eea4","type":"function","z":"fd87fc12.463ee","name":"format temperature","func":"msg.payload = Number(msg.payload.slice(5,-3));\nmsg.payload = {cpuTempC:msg.payload}\nreturn msg;","outputs":"1","noerr":0,"x":305,"y":80,"wires":[["1ae42a94.593555"]]},{"id":"1ae42a94.593555","type":"wiotp out","z":"fd87fc12.463ee","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"941031b9.b67e98","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":445,"y":160,"wires":[]},{"id":"17fc9f73.8fda91","type":"comment","z":"fd87fc12.463ee","name":"Read Raspberry Pi cpu temperature","info":"Reads the Raspberry Pi cpu temperature every 15 seconds, \nformats the data to tidy up the string and \nthen sends the data to the IBM Watson IOT platform\n\nAfter deploying the example, open the Watson IoT\nnode and click the link button to take you to the \nQuickstartdashboard for your flow.\n","x":135,"y":20,"wires":[]},{"id":"f797fad9.346358","type":"rpi-sensehat out","z":"76d49d0d.f7bb5c","name":"","x":470,"y":200,"wires":[]},{"id":"4784e415.f75ea4","type":"function","z":"76d49d0d.f7bb5c","name":"Simple graphical clock","func":"\n// array to hold \"random\" pixels\nvar ranNums = [];\n\n// create a non-overlapping array of random numbers 0-8\nfunction rerand() {\n    var nums = [0,1,2,3,4,5,6,7,8];\n    var i = nums.length;\n    var j;\n    ranNums = [];\n    while (i--) {\n        j = Math.floor(Math.random() * (i+1));\n        ranNums.push(nums[j]);\n        nums.splice(j,1);\n    }\n}\n\n// Get the hours and minutes and split into tens and units\nvar d = new Date();\nvar s = d.getSeconds();\nvar su = s%4;\nif (su === 0) {\n    var h = d.getHours();\n    var m = d.getMinutes();\n    var hu = h%10;\n    h = parseInt(h/10);\n    var mu = m%10;\n    m = parseInt(m/10);\n    \n    // Do the tens of hours (red)\n    rerand();\n    node.send({payload:\"1-3,1-3,0,0,0\"});\n    for (var i=0; i<h; i++) {\n        node.send({payload:(1+ranNums[i]%3)+\",\"+(1+parseInt(ranNums[i]/3))+\",255,0,0\"});\n    }\n    \n    // Do the units of hours (green)\n    rerand();\n    node.send({payload:\"4-6,1-3,0,0,0\"});\n    for (var i=0; i<hu; i++) {\n        node.send({payload:(4+ranNums[i]%3)+\",\"+(1+parseInt(ranNums[i]/3))+\",0,255,0\"});\n    }\n    \n    // Do the tens of minutes (yellow)\n    rerand();\n    node.send({payload:\"1-3,4-6,0,0,0\"});\n    for (var i=0; i<m; i++) {\n        node.send({payload:(1+ranNums[i]%3)+\",\"+(4+parseInt(ranNums[i]/3))+\",255,255,0\"});\n    }\n    \n    // Do the unit of minutes (blue)\n    rerand();\n    node.send({payload:\"4-6,4-6,0,0,0\"});\n    for (var i=0; i<mu; i++) {\n        node.send({payload:(4+ranNums[i]%3)+\",\"+(4+parseInt(ranNums[i]/3))+\",0,0,255\"});\n    }\n    \n}\nnode.send({payload:\"0,0,\"+(su===0?\"purple\":\"off\")+\",7,0,\"+(su===1?\"purple\":\"off\")+\",7,7,\"+(su===2?\"purple\":\"off\")+\",0,7,\"+(su===3?\"purple\":\"off\")})\n\n\n// nothing left to do\nreturn null;","outputs":1,"noerr":0,"x":260,"y":200,"wires":[["f797fad9.346358","55f60668.ff771"]]},{"id":"9a393ec0.1b6db8","type":"comment","z":"76d49d0d.f7bb5c","name":"Simple graphical clock for Sense Hat","info":"Generates a graphical clock, showing hours and minutes. \n\nHours are shown by the red and green pixels, minutes\nare the yellow and blue pixels.\n\nUses the local time of the Pi - you may need to set your local\ntimezone using\n\n    sudo dpkg-reconfigure tzdata\n","x":150,"y":160,"wires":[]},{"id":"29ba1327.07a3bc","type":"inject","z":"76d49d0d.f7bb5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":60,"y":200,"wires":[["4784e415.f75ea4"]]},{"id":"55f60668.ff771","type":"ui_text","z":"76d49d0d.f7bb5c","group":"b9eb4c9f.20cc4","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"col-center","x":380,"y":360,"wires":[]}]